/*  Custom CSS for Ask Me About APIs site */

.wh_main_page {
  background-color: black;
}
.wh_tile {
    border: 1px solid black;
    background-color: #293136;
    border-radius: 4px;
    color: white;
}

.wh_publication_title.title {
    font-size: 72px;
}

#content {
  background-image: linear-gradient(silver, white);

}

.wh_tile_shortdesc {
  color: white;
  font-family: 'Courier New', monospace;
}